@import "./global.scss";
@import "./variables.scss";

.nav-ul {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0 2rem;
	min-width: 100%;
	background-color: $nav-background-clr;
	position: fixed;

	li {
		padding: 1rem 0;

		a {
			padding: 0 1rem;
			color: $nav-link-clr;

			&:hover {
				color: $nav-link-hover-clr;
			}
		}
	}
}

.bunch-of-products {
	padding: 7rem 0;
	max-width: 1360px;
	margin: auto;
}

.company-name,
.tag-line {
	font-size: 3rem;
	margin: auto;
	width: max-content;
	position: relative;
	z-index: -999;
}

.company-name::after {
	content: "";
	position: absolute;
	inset: 60px 0 0 0;
	background-color: $add-to-cart-background;
}

.tag-line {
	font-size: 0.95rem;
}

.tag-line::after {
	content: "";
	position: absolute;
	inset: 21px -40px -5px -40px;
	background-color: $add-to-cart-background;
}

.single-product {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 2rem auto;
	width: 70rem;
	padding: 1rem 0;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

	img {
		max-width: 175px;
	}
}

.product-details {
	margin: 1.5rem 0;
	max-width: 40rem;

	h2 {
		margin: 0 0 1rem;
	}

	p {
		font-size: 1.1rem;
		font-weight: 100;
	}

	span {
		display: block;
		font-weight: bolder;
		margin: 1rem 0;
	}
}

.add-btn {
	background-color: $add-to-cart-background;

	&:hover,
	&:focus {
		background-color: $add-to-cart-hover-background;
	}
}

.buy-btn {
	background-color: $buy-now-background;

	&:hover,
	&:focus {
		background-color: $buy-now-hover-background;
	}
}

.footer-container {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	background-color: $footer-background;

	h5 {
		color: aliceblue;
		margin: 1rem 0;
	}

	a {
		padding: 0.25rem 0.2rem;
		color: aliceblue;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.empty-cart {
	display: grid;
	place-items: center;

	p {
		font-weight: bolder;
	}

	button {
		background-color: $add-to-cart-background;

		&:hover,
		&:focus {
			background-color: $add-to-cart-hover-background;
		}
	}
}
