@import "./global.scss";
@import "./variables.scss";

.nav-ul {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0 2rem;
	min-width: 100%;
	background-color: $nav-background-clr;
	position: fixed;
	top: 0;

	a {
		padding: 1rem;
		color: $nav-link-clr;

		&:hover {
			color: $nav-link-hover-clr;
		}
	}
}

.bunch-of-products {
	padding: 6rem 0;
	max-width: 1360px;
	margin: auto;
}

.loading {
	width: max-content;
	margin: 2rem auto;
	font-size: 2rem;
	height: 50vh;
}

.company-name,
.tag-line {
	font-size: 3rem;
	max-width: max-content;
	margin: auto;
	position: relative;
	z-index: -999;
}

.company-name::after {
	content: "";
	position: absolute;
	inset: 60px 0 0 0;
	background-color: $add-to-cart-background;
}

.tag-line {
	font-size: 0.95rem;
	margin-bottom: 4rem;
}

.tag-line::after {
	content: "";
	position: absolute;
	inset: 21px -40px -5px -40px;
	background-color: $add-to-cart-background;
}

.single-product {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 2rem auto;
	width: 70rem;
	padding: 1rem 0;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

	img {
		max-width: 175px;
	}
}

.product-details {
	margin: 1.5rem 0;
	max-width: 40rem;

	h2 {
		margin: 0 0 1rem;
	}

	p {
		font-size: 1.1rem;
		font-weight: 100;
	}

	span {
		display: block;
		font-weight: bolder;
		margin: 1rem 0;
	}
}

.add-btn {
	background-color: $add-to-cart-background;

	&:hover,
	&:focus {
		background-color: $add-to-cart-hover-background;
	}
}

.buy-btn {
	background-color: $buy-now-background;

	&:hover,
	&:focus {
		background-color: $buy-now-hover-background;
	}
}

.pagenumber-container {
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		padding: 0.5rem 0.8rem;
		border: 1px solid $nav-background-clr;
		margin: 0.5rem;
		cursor: pointer;
		transition: background 500ms, color 500ms;

		&:hover {
			background-color: $footer-background;
			color: aliceblue;
		}
	}
}

.footer-container {
	padding: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	width: 100%;
	background-color: $footer-background;

	h5 {
		color: aliceblue;
		margin: 1rem 0;
	}

	a {
		padding: 0.25rem 0.2rem;
		color: aliceblue;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

// Styles for cart page

.empty-cart {
	display: grid;
	justify-items: center;
	align-content: center;
	height: 90vh;

	p {
		font-weight: bolder;
	}

	button {
		background-color: $add-to-cart-background;

		&:hover,
		&:focus {
			background-color: $add-to-cart-hover-background;
		}
	}
}

// Styles for About page

.about {
	display: grid;
	justify-items: center;
	align-content: center;
	height: 90vh;
}

//Styles For product page

.product-page {
	width: 90%;
	margin: auto;
	padding: 10rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	place-items: center;

	img {
		width: 75%;
	}
}

.product-info {
	align-self: start;
	max-width: 85%;

	h1 {
		font-size: 2rem;
	}

	h4 {
		margin: 2rem 0;
		color: $nav-background-clr;
		padding: 0.3rem 1rem 0.5rem;
		border-radius: 7px;
		font-weight: normal;
		width: max-content;
		background-color: $product-category-background;
	}

	p {
		font-size: 0.95rem;
	}

	span {
		display: block;
		margin: 2.5rem 0;
		font-weight: bolder;
	}
}

.rating {
	margin: 1rem 0;
	padding: 1rem 0;
}

//styles for Cart.js

.container {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
	margin: 4.5rem auto 1rem;
	padding: 1rem;
	max-width: 75%;

	img {
		width: 35%;
	}
}

.selected-product-info {
	h5 {
		margin: 1.5rem 0 1rem;
		font-size: 1rem;
		font-weight: bolder;
	}
}

.counter {
	display: flex;
	align-items: center;

	.remove-item {
		background-color: rgb(255, 85, 85);
		margin: 1.5rem;
	}
	button {
		padding: 0.71rem 1rem;
		margin: 0;
	}

	p {
		padding: 0.5rem 1rem;
	}
}

.total {
	background-color: $product-category-background;
	align-self: end;
	padding: 0.5rem 1rem;
	border-radius: 6px;
}
