$nav-background-clr: rgb(60, 73, 88);
$nav-link-clr: rgb(202, 202, 202);
$nav-link-hover-clr: rgb(255, 255, 255);
$add-to-cart-background: rgb(247, 202, 0);
$buy-now-background: rgb(255, 164, 28);
$add-to-cart-hover-background: rgb(226, 185, 1);
$buy-now-hover-background: rgb(238, 154, 29);
$footer-background: rgb(0, 0, 0);
